.ff8c00{
    color: #ff8c00;
}
.FF5C3A{
    color: #FF5C3A;
}
.FF5656{
    color: #FF5656;
}
.yellow{
    color: #e9c307e0;
}
.bg-04bc44{
    background: #04bc44;
}
.FF8C00{
    background-color: #FF8C00;
}
.bg-FFE8D3{
    background-color: #FFE8D3;
}
.bg-FFF9F4{
    background-color: #FFF9F4;
}